<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Usuarios</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <h1>Buscar Usuarios</h1>

    <form action="/buscar" method="GET">
      <label for="busqueda">Buscar por nombre o c贸digo de estudiante:</label>
      <input type="text" id="busqueda" name="busqueda" required />
      <button type="submit">Buscar</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>C贸digo de Estudiante</th>
          <th>Grado</th>
          <th>Secci贸n</th>
          <th>Acci贸n</th>
        </tr>
      </thead>
      <tbody>

        {{#each resultadosBusqueda}}
          <tr>
            <td>{{nombre}}</td>
            <td>{{codigoEstudiante}}</td>
            <td>{{grado}}</td>
            <td>{{seccion}}</td>
            <td>
              <form action="/usuarios/{{codigoEstudiante}}/editar" method="GET">
                <button type="submit">MODIFICAR</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <style>

    </style>
    <div>
      <button
        onclick="window.location.href='http://127.0.0.1:3000/'"
      >REGRESAR</button>
      <button
        onclick="window.location.href='http://127.0.0.1:3000/usuarios'"
      >REGISTRAR NUEVO USUARIO</button>
    </div>
  </body>

</html>