<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Libros</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <h1>Buscar Libros</h1>

    <form action="/bPrestamos" method="GET">
      <label for="busqueda">Buscar por libro o usuario:</label>
      <input type="text" id="busqueda" name="busqueda" required />
      <button type="submit">Buscar</button>
    </form>

   <!-- Modifica la tabla para incluir la opción de reservar -->
<tbody>
   <!-- Por cada usuario encontrado, muestra una fila con un botón para reservar -->
{{#each resultadosBusqueda}}
  <tr>
    <td>{{usuario}}</td>
    <td>{{libro}}</td>
    <td>{{fechaPrestamo}}</td>
    <td>{{fechaDevolucionEstimada}}</td>
    <td>
      {{#if prestamo.libro.disponible}}
        <form action="/devolucion/{{_id}}" method="POST">
          <button type="submit">DEVOLVER</button>
        </form>
      {{else}}
        <form action="/devolucion/{{_id}}" method="POST">
          <button type="submit">RESERVAR</button>
        </form>
      {{/if}}
    </td>
  </tr>
{{/each}}

</tbody>

        <!-- Por cada usuario encontrado, muestra una fila con un botón para seleccionar -->
        {{#each resultadosBusqueda}}
          <tr>
            <td>{{usuario}}</td>
            <td>{{libro}}</td>
            <td>{{fechaPrestamo}}</td>
            <td>{{fechaDevolucionEstimada}}</td>
            <td>
              <form action="/devolucion/{{_id}}" method="POST">
                <button type="submit">DEVOLVER</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <style>

    </style>
    <div>
      <button
        onclick="window.location.href='http://127.0.0.1:3000/'"
      >REGRESAR</button>
      <button
        onclick="window.location.href='http://127.0.0.1:3000/prestamo'"
      >REGISTRAR NUEVO PRESTAMO</button>
    </div>
  </body>

</html>